{% load pagination_tags %}
<div id='news_box'>
	<ul>
		{% if posts %}
		{% autopaginate posts 2 %}
    {% for post in posts %}
		<li>
			<b><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></b>
			<br />
			{{ post.content|safe|truncatewords_html:10 }}
		</li>
		<hr />
    {% endfor %}
		{% paginate %}
		{% endif %}
  </ul>
	<div class='newsfooter'>
		<a href="/news/">All News</a>
	</div>
	<div id="download_enews">
		<a href="/news/eNews/" title="Download Enews"><img src="{{ STATIC_URL }}img/download_enews.png" alt="Download Enews" /></a>
	</div>
</div>
