{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/css/memdir.css" />
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}
{% submit_row %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

<div id="tabs">
    <ul>
        <li><a href="#agency-info">{% trans "Agency Info" %}</a></li>
        <li><a href="#frp-locations">{% trans "FRP Locations" %}</a></li>
        <li><a href="#reports">{% trans "Reports" %}</a></li>
    </ul>

    <div id="agency-info">
        {% for fieldset in adminform %}
          {% include "admin_edit_agency_fieldset.html" %}
        {% endfor %}
    </div>

    <div id="frp-locations">
        {% block after_field_sets %}{% endblock %}

        {% for inline_admin_formset in inline_admin_formsets %}
            {% include "admin_inline_stacked.html" %}
        {% endfor %}

        {% block after_related_objects %}{% endblock %}
    </div>

    <div id="reports">
        <h2>Download Reports:</h2>
        <ol>
            <li><a href="{% url 'report' 'membership-renewal-form' adminform.form.instance.pk %}/">Membership Form</a></li>
        </ol>
    </div>
</div>

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

<script>
    jQuery(function() {
        jQuery("#tabs").tabs();
/*
        var mandatoryElements = [
            'locations-0-hours_of_operation-group',
            'locations-0-contacts-group'
        ];
        for (var i=0; i<mandatoryElements.length; ++i) {
            var existing = $('#' + mandatoryElements[i]);
            if (!existing.length) {
                $('#' + mandatoryElements[i] + '-sample').attr('id', mandatoryElements[i]);
            }
        }*/
    });
</script>


<!-- template for nested inlines that should always be there -->
<div id="locations-group-sample">
    <div class="inline-group locations-nested-inline nested-inline empty-form"
        id="locations-0-hours_of_operation-group-sample">

        <div class="tabular inline-related ">
            <input type="hidden" name="locations-0-hours_of_operation-TOTAL_FORMS" value="1" id="id_locations-0-hours_of_operation-TOTAL_FORMS" autocomplete="off">
            <input type="hidden" name="locations-0-hours_of_operation-INITIAL_FORMS" value="0" id="id_locations-0-hours_of_operation-INITIAL_FORMS">
            <input type="hidden" name="locations-0-hours_of_operation-MAX_NUM_FORMS" id="id_locations-0-hours_of_operation-MAX_NUM_FORMS">
            <fieldset class="module">
                <h2>Hours of operations</h2>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" class="required">Day </th>
                            <th class="required">Open time </th>
                            <th class="required">Close time </th>
                            <th>Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="form-row row1  locations-0-hours_of_operation-not-nested dynamic-locations-0-hours_of_operation" id="locations-0-hours_of_operation-0">
                            <td class="original">
                            <input type="hidden" name="locations-0-hours_of_operation-0-id" id="id_locations-0-hours_of_operation-0-id">
                            <input type="hidden" name="locations-0-hours_of_operation-0-location"  id="id_locations-0-hours_of_operation-0-location">
                            </td>

                            <td class="field-day">
                            <select title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" name="locations-0-hours_of_operation-0-day" id="id_locations-0-hours_of_operation-0-day">
                                <option value="" selected="selected">---------</option>
                                <option value="0">Sun</option>
                                <option value="1">Mon</option>
                                <option value="2">Tue</option>
                                <option value="3">Wed</option>
                                <option value="4">Thur</option>
                                <option value="5">Fri</option>
                                <option value="6">Sat</option>
                            </select></td>

                            <td class="field-open_time">
                            <input  title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" name="locations-0-hours_of_operation-0-open_time" value="09:00:00" class="vTimeField" type="text" id="id_locations-0-hours_of_operation-0-open_time" size="8">
</td>

                            <td class="field-close_time">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" name="locations-0-hours_of_operation-0-close_time" value="17:00:00" class="vTimeField" type="text" id="id_locations-0-hours_of_operation-0-close_time" size="8">
                            </td>

                            <td class="delete"></td>

                        </tr>
                        <tr class="form-row row1  empty-form locations-0-hours_of_operation-not-nested " id="locations-0-hours_of_operation-empty">
                            <td class="original">
                            <input type="hidden" name="locations-0-hours_of_operation-__prefix__-id" id="id_locations-0-hours_of_operation-__prefix__-id">
                            <input type="hidden" name="locations-0-hours_of_operation-__prefix__-location"  id="id_locations-0-hours_of_operation-__prefix__-location">
                            </td>

                            <td class="field-day">
                            <select title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" name="locations-0-hours_of_operation-__prefix__-day" id="id_locations-0-hours_of_operation-__prefix__-day">
                                <option value="" selected="selected">---------</option>
                                <option value="0">Sun</option>
                                <option value="1">Mon</option>
                                <option value="2">Tue</option>
                                <option value="3">Wed</option>
                                <option value="4">Thur</option>
                                <option value="5">Fri</option>
                                <option value="6">Sat</option>
                            </select></td>
                            <td class="field-open_time">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" name="locations-0-hours_of_operation-__prefix__-open_time" value="09:00:00" class="vTimeField" type="text" id="id_locations-0-hours_of_operation-__prefix__-open_time" size="8">
                            </td>

                            <td class="field-close_time">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" name="locations-0-hours_of_operation-__prefix__-close_time" value="17:00:00" class="vTimeField" type="text" id="id_locations-0-hours_of_operation-__prefix__-close_time" size="8">
                            </td>

                            <td class="delete"></td>

                        </tr>

                        <tr class="add-row">
                            <td colspan="5"><a href="javascript:void(0)">Add another Hours Of Operation</a></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="inline-group locations-nested-inline nested-inline empty-form"
        id="locations-0-contacts-group">

        <div class="tabular inline-related last-related">
            <input type="hidden" name="locations-0-contacts-TOTAL_FORMS" value="1" id="id_locations-0-contacts-TOTAL_FORMS" autocomplete="off">
            <input type="hidden" name="locations-0-contacts-INITIAL_FORMS" value="0" id="id_locations-0-contacts-INITIAL_FORMS">
            <input type="hidden" name="locations-0-contacts-MAX_NUM_FORMS" id="id_locations-0-contacts-MAX_NUM_FORMS">
            <fieldset class="module">
                <h2>Location contacts</h2>

                <table>
                    <thead>
                        <tr>

                            <th colspan="2">Contact name </th>

                            <th>Contact position </th>

                            <th>Contact email </th>

                            <th>Delete?</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr class="form-row row1  locations-0-contacts-not-nested  dynamic-locations-0-contacts" id="locations-0-contacts-0">
                            <td class="original">
                            <input type="hidden" name="locations-0-contacts-0-id" id="id_locations-0-contacts-0-id">
                            <input type="hidden" name="locations-0-contacts-0-location"  id="id_locations-0-contacts-0-location">
                            </td>

                            <td class="field-contact_name">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" id="id_locations-0-contacts-0-contact_name" type="text" class="vTextField" name="locations-0-contacts-0-contact_name" maxlength="255">
                            </td>

                            <td class="field-contact_position">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" id="id_locations-0-contacts-0-contact_position" type="text" class="vTextField" name="locations-0-contacts-0-contact_position" maxlength="255">
                            </td>

                            <td class="field-contact_email">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" id="id_locations-0-contacts-0-contact_email" type="text" class="vTextField" name="locations-0-contacts-0-contact_email" maxlength="255">
                            </td>

                            <td class="delete"></td>

                        </tr>

                        <tr class="form-row row2  empty-form locations-0-contacts-not-nested " id="locations-0-contacts-empty">
                            <td class="original">
                            <input type="hidden" name="locations-0-contacts-__prefix__-id" id="id_locations-0-contacts-__prefix__-id">
                            <input type="hidden" name="locations-0-contacts-__prefix__-location"  id="id_locations-0-contacts-__prefix__-location">
                            </td>

                            <td class="field-contact_name">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" id="id_locations-0-contacts-__prefix__-contact_name" type="text" class="vTextField" name="locations-0-contacts-__prefix__-contact_name" maxlength="255">
                            </td>

                            <td class="field-contact_position">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" id="id_locations-0-contacts-__prefix__-contact_position" type="text" class="vTextField" name="locations-0-contacts-__prefix__-contact_position" maxlength="255">
                            </td>

                            <td class="field-contact_email">
                            <input title="Please click 'Save and continue editing to be able to add Hours of Operations and Contacts'" disabled="disabled" id="id_locations-0-contacts-__prefix__-contact_email" type="text" class="vTextField" name="locations-0-contacts-__prefix__-contact_email" maxlength="255">
                            </td>

                            <td class="delete"></td>

                        </tr>

                        <tr class="add-row">
                            <td colspan="5"><a href="javascript:void(0)">Add another Location Contact</a></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}
