<div class="slideshow" style='display: none';>
		{% for slide in slides %}
		  {% if slide.link %}
				<a href="{{ slide.link }}">
			{% endif %}
					<img src="{{ slide.image.url }}" alt="{{ slide.description }}"
					style='width: 1107px;'/>
			{% if slide.link %}
				</a>
			{% endif %}
		{% endfor %}
</div>
<div id="slideshow-nav"></div>

<script type='text/javascript'>
	$('.slideshow').css('display', 'block');
	window.activeSlideAnchor = null;
	$(document).ready(function () {
		$('.slideshow').cycle({
			fx: 'fade',
      timeout: 5500,
      pager: '#slideshow-nav',
			after: function (elem, nElem, options, fwd) {
				window.activeSlideAnchor = $(nElem);
				console.log(window.activeSlideAnchor.prop('href'));
			}
		});
	});
</script>
