{% load i18n adminmedia admin_modify %}
  {{ nested.formset.management_form }}
  <table class="nested-table">
    <thead>
      <tr class="nested">
        {% for field in nested.fields %}
          <th {% if forloop.first %}colspan="2"{% endif %}>{{ field.label|capfirst }}</th>
        {% endfor %}
        {% if nested.formset.can_delete %}
          <th>Delete?</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for formset in nested %}
      {% if formset.form.non_field_errors %}
      <tr><td colspan="{{ formset.field_count }}">
        {{ formset.form.non_field_errors }}
      </td></tr>
      {% endif %}
        <tr class="nested {% cycle "irow1" "irow2" %} {% if formset.original or formset.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
            id="{{ formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
          <td class="original">
            {% comment %}
                {% if formset.original %}<p style="position:relative;">
                  {{ formset.original }}
                </p>{% endif %}
            {% endcomment %}
            {% if formset.has_auto_field %}
              {{ formset.pk_field.field }}
            {% endif %}{{ formset.fk_field.field }}
          </td>
          {% for fieldset in formset %}
              {% for line in fieldset %}
                {% for field in line %}
                  <td class="{{ field.field.name }}">
                    {{ field.field.errors.as_ul}}
                    {{ field.field }}
                  </td>
                {% endfor %}
              {% endfor %}
          {% endfor %}
          {% if formset.original and nested.formset.can_delete %}
            <td class="delete">{{ formset.deletion_field.field }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
