{% extends "memdir/base.html" %}
{% load fiber_tags %}
{% load easy_maps_tags cache %}

{% block content %}
<div class='grid_10'>

 <div class="breadcrumbs grid_10">
     <ul>
     <li><a href="{% url 'region' location.region %}">&laquo; Back to {{ location.get_region_display }}</a></li>
     <li><a href="{% url 'community' location.community %}">Back to {{ location.get_community_display }}</a></li>
     </ul>
 </div>


    {% if user.is_superuser %}
    <div class="grid_10 admin-info">
			<p class='member-number'><a title="Click to open in back-end" href="/admin/memdir/member/{{ location.member.id }}/"><b>System member number: </b>{{ location.member.memnum }}</a></p>
			<p class='member-renewal'><b>Member renewal date: </b>{{ location.member.renewal_date }}</p>
		</div>
    {% else %}
	    <div class="prepend_4 suffix_8 alpha omega"></div>
    {% endif %}

    <div class="clear"></div>

    <div class="alpha grid_4">
        <h3 class='member-agency'>{{ location.frp_program_name }}</h3>
        <p class='member-delivering-agency'><i><b>Delivering Agency:</b></i><br />{{ location.member.agency }}</p>

        <p class='member-full-address'><i><b>Address:</b></i><br />{{ location.street }}<br />{{ location.city }}, {{ location.province}}<br />{{ location.postal_code }} </p>
        <p class='member-phone-number'><i><b>Phone Number:</b></i><br />{{ location.phone }}</p>
        <p class='member-website'><i><b>Website:</b></i><br /><a href="{{ location.website   }}" target="_blank">Click here to open in a new window</a></p>
        <p>
            <i><b>Hours:</b></i>
            <table>
            {% for d in location.days_of_operations %}
                {% if d.formatted_hours %}
                <tr>
                    <th>{{ d.name }}:</th>
                    <td>{{ d.formatted_hours }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
        </p>
		{% if location.member.standards_complete or location.member.accredited %}
			<p ><i><b>Accreditations & Certification:</b></i><br />
			{% if location.member.standards_complete %}
				FRP Standards Complete: {{location.member.standards_beginning_year}} - {{ location.member.standards_renewal_year }}<br />
			{% endif %}
			{% if location.member.accredited == "carf" %}
				<a href="http://www.carf.org/home/">Commission on Accreditation of Rehabilitation Facilities (CARF)</a><br />
			{% elif location.member.accredited == "coa" %}
				<a href="http://coanet.org/">Council on Accreditation (COA)</a><br />
			{% elif location.member.accredited == "accredit_can" %}
				<a href="http://www.accreditation.ca/">Accreditation Canada</a><br />
			{% endif %}
			<br /> 
		{% endif %}
		</p>
    </div>
    <div class='grid_6 omega member-geo-address-map' style="margin-top:20px;">
        <div style="display: none;">
		Debug information: rendering map using easy_map + '{{location.address}}'
	</div>
        {% cache 600 my_map location.address %}
        	{% easy_map location.address 390 250 13 %} 
        {% endcache %}
        {% if location.pcmg_offered or location.npp_offered or location.triplep_offered %}
        <div class='grid_3' style='font-size: 10pt;'>
           <i><b>Parenting Programs Offered:</b></i><p />
            {% if location.pcmg_offered %}
                <div class='grid_2'>
                    <a href="http://nationalpcmgp.ca/">
                    <img src="{{ STATIC_URL }}img/Mother_Goose.gif"
                    title="Mother Goose" width="60%"/>
                    <br>
                    Parent/Child Mother Goose </a>
                </div>
            {% endif %}
            {% if location.npp_offered %}
                <div class='grid_2'> 
                    <a href="http://www.bccf.ca/families/programs/nobodys-perfect">
                    <img src="{{ STATIC_URL }}img/Nobody_Pefect_Parenting_Logo.jpg"
                    title="Nobody's Perfect" width="60%"/>
                    <br>
                    Nobody's Perfect Parenting Program </a>
                </div>
            {% endif %}
            {% if location.triplep_offered %}
                <div class='grid_2'>
                    <a href="http://www.triplep.net/glo-en/home/">
                    <img src="{{ STATIC_URL }}img/triple_p_parenting-logo.gif"
                    title="Triple P" width="60%"/>
                    <br>
                    Triple P Parenting Program </a>
                </div>
            {% endif %}
        </div>
        {% endif %} 
    <div class="grid_4">
        {% show_page_content "aside" %}
    </div>
</div>
{% endblock %}
