{% extends "memdir/base.html" %}
{% load easy_maps_tags cache %}
{% load fiber_tags %}
{% load memdir_tags %}

{% block content %}
<div class='grid_15 prefix_1'>
    <div id="hozregionlist" class="suffix_4 grid_12">
        <ul>
            {% for region in regions %}
                <li><a href="{% url 'region' region %}">{{region|region_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <h2>{{ region_name }}</h2>
    <div class="grid_5">
        <img src="{{ STATIC_URL }}img/map-director-small.gif" border="0" usemap="#Map2"/>
    </div>
    <div class="grid_9">
        <div>
            {% show_page_content "intro" %}
        </div>
        <h4>Communities Available in {{ region_name }}:</h4>
        <ul class="communities">
            {% for community in communities %}
                <li><a href="{% url 'community' community %}">{{ community }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="grid_15">

        <a href="{% url 'report_region' region %}" style="line-height: 40px;">
            <img src="/static/img/download.png" alt="Download the complete list of FRPs in this region (PDF)" style="float:left;">
            Download the complete list of FRPs in this region (PDF)
        </a>
    </div>

</div>
{% endblock %}
