{% extends "memdir/base.html" %}
{% load fiber_tags %}
{% load memdir_tags %}

{% block mapjs %}
{% endblock %}

{% block content %}
    <div class="grid_13" style="padding-bottom: 20px;">
        {% show_page_content "intro" %}
        <form name='searchbox' type='submit' method='get' action="/search/">
            {% csrf_token %}
            <input type='submit' name='submit' value='Search'
                class='form_button_big' lang="en" />
            <input type='search' class='form_textbox_big' name='q' placeholder=""
                style="width:600px;"/>
            <input class='hidden' type='checkbox' value='memdir.location'
            checked='checked'   name='models' style='visibility:hidden;'>
            <input class='hidden' type='checkbox' value='news.post'
            checked='checked'   name='models' style='visibility:hidden;'>
            <input class='hidden' type='checkbox' value='news.event'
            checked='checked'   name='models' style='visibility:hidden;'>
        </form>
    </div>

    <div class="grid_7">
        <img src="{{ STATIC_URL }}img/map-directory.gif" border="0" usemap="#Map2"/>
        <map name="Map2"><area shape="rect" coords="201,281,229,305"
                            href="{% url 'region' 'fraservalley' %}" alt="Fraser Valley"><area
                            shape="rect" coords="176,265,201,290"
                            href="{% url 'region' 'other' %}" alt="Other Regions">

                            <area shape="poly" coords="81,169,15,13,179,33,245,43,259,218,180,196"
                            href="{% url 'region' 'northern' %}" alt="Northern">

                            <area shape="rect" coords="126,198,171,232"
                            href="{% url 'region' 'other' %}" alt="Other Regions">

          <area shape="poly" coords="184,212" href="#">

          <area shape="poly"
                            coords="182,205,280,226,324,293,252,297,184,248"
                            href="{% url 'region' 'interior' %}" alt="Interior">

                            <area shape="poly" coords="160,236,188,261,171,273,173,288,191,302,197,311,182,313,170,306,151,284,128,257"
                            href="{% url 'region' 'vanisle' %}" alt="Vancouver Island">

        </map>
    </div>
	<div class="grid_7">
	    <div style="">
            <ul class="regionlist">
                {% for region in regions %}
                    <li><a href="{% url 'region' region %}"">{{region|region_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
	</div>

{% endblock %}
