{% extends "memdir/base.html" %}
{% load fiber_tags %}
{% load memdir_tags %}

{% block mapjs %}
<script type="text/javascript">
      var map;

      function initialize() {
        var myOptions = {
          zoom: 4,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
            myOptions);

        // Try HTML5 geolocation
							/*
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);
																						 */

						var pos = new google.maps.LatLng(55.95, -122.0);
            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              //content: 'BC Association of Family Resource Programs.'
            });

            map.setCenter(pos);
						/*
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
				*/
			{% for member in object_list %}
				var contentString{{ forloop.counter }} = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">{{ member.agency }}</h1>'+
        '<div id="bodyContent">'+
        '<a href="{{ member.get_absolute_url }}">'+
        'More info</a> '+
				{% if member.website %}
					{% if member.website != "http:" %}
					'<a href="{{ member.website }}" target="_blank">'+
					'Member Website</a> '+
					{% endif %}
				{% endif %}
        '.</p>'+
        '</div>'+
        '</div>';

				var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
						content: contentString{{ forloop.counter }},
				});
				var pos = new google.maps.LatLng({{ member.geo_lat }},{{ member.geo_lng }});
				var marker{{ forloop.counter }} = new google.maps.Marker({
					position: pos,
					title: "{{ member.agency }}"
				});
				google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function() {
					infowindow{{ forloop.counter }}.open(map,marker{{ forloop.counter }});
				});
				marker{{ forloop.counter }}.setMap(map);
			{% endfor %}
      }

/*

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = '';
        } else {
          var content = '';
        }
				*/

        var options = {
          map: map,
          //position: new google.maps.LatLng(49.2644, -123.137),
          position: new google.maps.LatLng(55.95, -122.0),
          //content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      //}

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}
    <div class="grid_14" style="padding-bottom: 20px;">
        {% show_page_content "intro" %}
        <form name='searchbox' type='submit' method='get' action="/search/">
            {% csrf_token %}
            <input type='submit' name='submit' value='Search'
                class='form_button_big' lang="en" />
            <input type='search' class='form_textbox_big' name='q' placeholder=""
                style="width:800px;"/>
            <input class='hidden' type='checkbox' value='memdir.member'
            checked='checked'   name='models' style='visibility:hidden;'>
            <input class='hidden' type='checkbox' value='news.post'
            checked='checked'   name='models' style='visibility:hidden;'>
            <input class='hidden' type='checkbox' value='news.event'
            checked='checked'   name='models' style='visibility:hidden;'>
        </form>
    </div>

    <div class="grid_9">
    	<div id="map_canvas" style="width: 610px; height: 350px;">
    		<!-- GMap ends up here -->
    	</div>
	</div>
	<div class="grid_5">
	    <div style="">
            <ul class="regionlist">
                {% for region in regions %}
                    <li><a href="{% url 'region' region %}"">{{region|region_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
	</div>

{% endblock %}
