
#member_form {
    position: relative;

}

.aligned label {
    width: 18em;
}

.module h2 {
    line-height: 25px;
}

.inline-group h3 {
    line-height: 20px;
}

fieldset.module.aligned  {
    border: none;
    clear: both;
    margin: 0 0 20px 10px;
}

.form-row {
    border-bottom: none;
    padding: 4px 12px;
}

#agency-info fieldset.module.aligned:nth-child(1) label {
    width: 14em;
}

#agency-info fieldset.module.aligned:nth-child(2) label {
    width: 12em;
}

#agency-info fieldset.module.aligned:nth-child(3) label {
    width: 13em;
}

#agency-info fieldset.module.aligned:nth-child(1) {
    float: left;
}

#agency-info fieldset.module.aligned:nth-child(2) {
    float: left;
    clear: none;
}

#agency-info fieldset.module.aligned:nth-child(3) {
    float: left;
    clear: none;
}
#agency-info fieldset textarea {
    width: 20em;
}

#agency-info fieldset .vURLField {
   width: 20em;
}

div.submit-row {
    clear: both;
}


/* Styles for customized Django */

.irow1 {
    background: #EDF3FE;
}

.irow2 {
    background: white;
}

#frp-locations .dynamic-locations {
    clear: both;
}

#frp-locations .dynamic-locations>fieldset:nth-child(2) {
    float: left;
    width: auto;
}

#frp-locations .dynamic-locations>fieldset:nth-child(2) label {
    width: 18em;
}

#frp-locations .dynamic-locations>fieldset:nth-child(3) {
    float: left;
    clear: none;
    width: auto;
}

#frp-locations .dynamic-locations>.nested-inline {
    float:left;
    margin: 0 10px;
}
.nested-inline-bottom-border {
    clear:both;
}
#frp-locations .dynamic-locations>.locations-nested-inline:nth-child(9),
#frp-locations .dynamic-locations>.locations-nested-inline:nth-child(8) {
    float: none;
    clear:both;
}

#locations-group>.add-row {
    clear: both;
}
#locations-group>h2 {
    display: none;
}

.nolinks a {
   display: none;
}
